<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607658252150-lcein1egadkg400dag8g4m7sfl1tga9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607658252150-lcein1egadkg400dag8g4m7sfl1tga9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCLna94jGnoGVq0XxuJhJ9IDseB1wiUcgY</string>
	<key>GCM_SENDER_ID</key>
	<string>607658252150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.teatname.DemoProject</string>
	<key>PROJECT_ID</key>
	<string>ios-crud-168bc</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-crud-168bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607658252150:ios:4d54a02633a2cc3936cc57</string>
</dict>
</plist>